
<!-- Controls library  -->

<sb-start-page [startPageData]="currentConfig" (startEvents)="startPageEventHandler($event)" *ngIf = "libEnabler.startPage" ></sb-start-page>

<sb-navigation-ctrl [navConfig] = "navigationConfig" (sendControls)="navigationHandler($event)" *ngIf="libEnabler.navigation" ></sb-navigation-ctrl>

<sb-lib-endpage [endPageConfig]="currentConfig" [contentDetails]="contentDetails"  (replayEvent)="replayHandler($event)" (sendMetadata)="EndPageEventHandler($event)" *ngIf = "libEnabler.endPage" ></sb-lib-endpage>

<!-- player -->

<sb-pdf-viewer [pdfConfig]="currentConfig" [navigation] = "navigate" (sendMetadata)="pdfEventHandler($event)" *ngIf = "libEnabler.pdf" ></sb-pdf-viewer>

<!-- Video -->
<sb-video-viewer *ngIf="libEnabler.video" [playerConfig]="getVideoConfig" ></sb-video-viewer>
