:host.is-standalone aside {
    display: none;
}

:host.is-standalone .player-container {
    padding: 0;
    margin: 0;
}


.player-container {
    width: 100%;
    height: 100%;
}

video {
    width: 100%    !important;
    height: 100%   !important;
}

