<!-- Controls library  -->
<sb-start-page [startPageData]="startPageDetails" (startEvents)="startPageEventHandler($event)" *ngIf = "showStartPage" ></sb-start-page>

<sb-navigation-ctrl [navConfig] = "navigationConfig" (sendControls)="navigationHandler($event)" ></sb-navigation-ctrl>

<sb-lib-endpage [endPageConfig]="endPageConfig" [contentDetails]="contentDetails" [pdfEndData]="pdfEndData" (replayEvent)="replayHandler($event)" (sendMetadata)="EndPageEventHandler($event)" *ngIf = "showEndpage" ></sb-lib-endpage>

<!-- player -->

<sb-pdf-viewer [pdfConfig]="pdfPlayerConfig" [navigation] = "navigate" (sendMetadata)="pdfEventHandler($event)" *ngIf = "showPdf" ></sb-pdf-viewer>