.carousel-inner{
    width: 88% !important;
    margin: auto !important;
}
.left .carousel-control .carousel-control-prev{
    visibility: hidden;
  }
  .right .carousel-control .carousel-control-next{
    visibility: hidden;
  }


